:root {
  --blood: rgb(138, 5, 5);
  --primary: red;
}

@font-face {
  font-family: HelpMe;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

@font-face {
  font-family: ScaryFont;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

/* Typographie avec accent pour les dialogues des chapitres */
@font-face {
  font-family: ScaryDialog;
  src: url("../assets/police/viktors_littl_creepy_horror/Viktors\ Littl\ Creepy\ Horror.otf")
    format("opentype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

/* Styles du Header*/
h1.title {
  font-family: HelpMe;
  text-align: center;
  color: var(--blood);
  text-shadow: 3px 2px 0.5rem black;
  font-size: 6vw;
}

h2 {
  font-family: ScaryFont;
  color: var(--blood);
}

div.chapterText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  font-family: ScaryDialog;
}

div.chapterText.End {
  position: absolute;
}

.glow {
  text-shadow: 0 0 5px var(--primary);
  position: absolute;
  bottom: 8em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-image: url("../assets/img/img_background/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.mouse {
  position: absolute;
  bottom: 10em;
}

.scrollmouse {
  position: absolute;
  bottom: 3em;
}

.description {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.cta {
  margin-top: 25em;
  display: flex;
  justify-content: center;
}

/* Styles des sections du main*/

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  border: solid 1px red;
  overflow: hidden;
}

/* Styles chapitre 1*/
section:first-of-type {
  background-image: url("../assets/img/img_background/dion_proulx_scene_01_582-424.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
}
/* Styles chapitre 2*/
section#Ch02 {
  background-image: url("../assets/img/img_background/dion_proulx_scene_02_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* Styles chapitre 3*/
section#Ch03 {
  background-image: url("../assets/img/img_background/dion_proulx_scene_03_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}
/* Styles chapitre 4*/
section#Ch04 {
  background-image: url("../assets/img/img_background/dion_proulx_scene_04_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/* Styles chapitre 5*/
/* Section avec parallax*/
section#Ch05 {
  background-image: url("../assets/img/img_background/dion_proulx_scene_05_582-424.jpg");
  background-size: 100vw 200vh;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 0%;
}
div#parallax-bg-1 {
  border: 2px solid red;
  position: fixed; /*les balises enfants vont se positionner par rapport à ce div-ci*/
  width: 1200px;
  top: 3px;
  left: 50%;
  margin-left: -600px;
}
div#parallax-bg-1 div {
  background: url("../assets/img/img_element_visuels/fly.png");
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  border: 1px solid green;
  top: -100vh;
  left: -100vw;
}
div#bg-1-1 {
  background: url("../assets/img/img_element_visuels/fly.png");
  width: 100vw;
  height: 100vh;
}

/* Styles chapitre 6*/
section#Ch06 {
  background-image: url("../assets/img/img_background/dion_proulx_scene_06_582-424.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

.chapterText {
  font-family: ScaryFont;
  color: white;
  font-size: 2vw;
  text-shadow: 3px 2px 2px black;
  position: absolute;
  z-index: 1;
  left: 10vw;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Boutons*/

.toggle-fullscreen-btn {
  position: fixed;
  bottom: 10px;
  left: 0;
  background: none;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 15px;
}

input[type="checkbox"]::after {
  content: "Fullscreen";
  margin-left: 15px;
  font-family: HelpMe;
  color: red;
}

/* Animation Chapitre 1 */

/* Animations Marie*/
.leaf {
  position: absolute;
  top: 50%;
  z-index: 1;
}

#house {
  background-image: url("../assets/img/img_element_visuels/Haunted_house_spritesheet.png");
  background-size: 700% 100%;
  width: 35%;
  aspect-ratio: 22 / 12;
  position: absolute;
  left: 30vw;
  top: 10vw;
  filter: grayscale(75%);
  animation-name: flashing;
  animation-duration: 0.8s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: steps(7);
}

@keyframes flashing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700% 0;
  }
}

#Marie {
  background-image: url("../assets/img/img_personnages/Mariespritesheet.png");
  background-size: 2700% 100%;
  position: absolute;
  bottom: 0;
  left: 45vw;
  width: 21.5vw;
  aspect-ratio: 13 / 12;
  filter: grayscale(100%);
  animation-name: MarieWalking;
  animation-duration: 2s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(27);
}

@keyframes MarieWalking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2700% 0;
  }
}

.is-scrolling #Marie {
  animation-play-state: running;
}
/* Animations Julia*/
#Julia {
  background-image: url("../assets/img/img_personnages/Juliaspritesheet.png");
  background-size: 4800% 100%;
  position: absolute;
  bottom: 0;
  left: 40vw;
  width: 21.5vw;
  z-index: 1;
  aspect-ratio: 13 / 12;
  filter: grayscale(100%);
  animation-name: JuliaWalking;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
}

@keyframes JuliaWalking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4800% 0;
  }
}

.is-scrolling #Julia {
  animation-play-state: running;
}

/* Animation Chapitre 2*/

.Arm {
  position: absolute;
  bottom: 0;
  right: 0;
  filter: grayscale(90%);
}

/* Animation Chapitre 3*/

#eyes {
  background-image: url("../assets/img/img_personnages/Monstre/monster_eyes_spriteSheet.png");
  background-size: 2400% 100%;
  width: 30vw;
  height: 25vh;
  position: absolute;
  top: 20vh;
  left: 20vh;
  animation-name: openingEyes;
  animation-duration: 2s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24);
}

@keyframes openingEyes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2400% 0;
  }
}

.is-scrolling #eyes {
  animation-play-state: running;
}

.doorshadow {
  opacity: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90vw;
  height: 45vh;
}

/* Animation Chapitre 4*/

#JuliaCh04 {
  background-image: url("../assets/img/img_personnages/Juliaspritesheet.png");
  background-size: 4800% 100%;
  position: absolute;
  top: 25%;
  left: 0;
  width: 60vw;
  z-index: 1;
  aspect-ratio: 1 / 1;
  filter: grayscale(100%);
  animation-name: JuliaWalkingIn;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
}

@keyframes JuliaWalkingIn {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4800% 0;
  }
}

.is-scrolling #JuliaCh04 {
  animation-play-state: running;
}

/*style des fichiers SVG pour le Morphing*/
svg {
  display: block;
}
#ExclamationPoint {
  visibility: hidden;
}

#JuliaFace {
  width: 75vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: -200px;
  filter: grayscale(90%);
  aspect-ratio: 13 / 12;
  background-image: url("../assets/img/img_personnages/Julia/Face/juliaFace_SpriteSheet.png");
  background-size: 2400% 100%;
  animation-name: JuliaFace;
  animation-duration: 1.5s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(24);
}
@keyframes JuliaFace {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2400% 0;
  }
}

.is-scrolling #JuliaFace {
  animation-play-state: running;
}

.Jumpscare {
  font-family: ScaryDialog;
  position: absolute;
  top: 30vh;
  left: 52vw;
  color: rgb(233, 17, 17);
  z-index: 1;
  font-size: 2vw;
  text-shadow: 3px 2px 2px black;
}

.morphing {
  width: 10vw;
  position: absolute;
  left: 25em;
}
/* Animations Monstre*/
#monstre {
  background-image: url("../assets/img/img_personnages/Monstre/Monstrespritesheet.png");
  background-size: 4800% 100%;
  z-index: 1;
  width: 30vw;
  aspect-ratio: 13 / 12;
  position: absolute;
  right: 10vw;
  bottom: 50px;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  animation-play-state: paused;
}

svg#morph {
  position: absolute;
  top: 25%;
}
.is-scrolling #monstre {
  animation-play-state: running;
}

@keyframes moving {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -4800% 0;
  }
}

.MonsterArm {
  position: absolute;
  left: 50vw;
}

.blood {
  position: absolute;
  bottom: -300px;
}
.blood02 {
  position: absolute;
  top: 25%;
  left: 25%;
}

/* Animation Chapitre 5 Styles */
/* Animation Chapitre 6 Styles */

#MarieCh06 {
  position: absolute;
  bottom: 0;
  left: -20vw;
  width: 30vw;
  aspect-ratio: 1 / 1;
  background-image: url(../assets/img/img_personnages/Mariespritesheet.png);
  background-size: 2700% 100%;
  z-index: 1;
  margin: 0 auto;
  animation-name: Marie06;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(27);
}
@keyframes Marie06 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2700% 0;
  }
}

.is-scrolling #MarieCh06 {
  animation-play-state: running;
}

.FloorBlood {
  width: 20vw;
  position: absolute;
  top: 30vw;
  left: 40vw;
}
.SpriteSheet {
  border: none;
}

img {
  border-color: none;
}

.container {
  width: 40vw;
  height: 500px;
  aspect-ratio: 13 / 12;
  margin: 0 auto;
  border: 1px solid rgb(228, 27, 27);
  position: absolute;
  top: 25%;
  background-image: url("../assets/img/img_personnages/Julia/Face/juliaFace_SpriteSheet.png");
  background-size: 2400% 100%;
  animation-name: JuliaFace;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(24);
}
