:root {
  --blood: rgb(138, 5, 5);
}

@font-face {
  font-family: HelpMe;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

@font-face {
  font-family: ScaryFont;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

body {
  margin: 0;
  overflow-x: hidden;
}
/* Styles du Header*/
h1 {
  font-family: HelpMe;
  text-align: center;
  color: var(--blood);
  text-shadow: 3px 2px 2px black;
  font-size: 6vw;
}

h2 {
  font-family: ScaryFont;
  color: var(--blood);
}

.glow {
  text-shadow: 0 0 5px red;
  position: absolute;
  bottom: 8em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-image: url("../assets/img/img_background/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.mouse {
  position: absolute;
  bottom: 10em;
}
.scrollmouse {
  position: absolute;
  bottom: 3em;
}

.paragraph {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.cta {
  margin-top: 25em;
  display: flex;
  justify-content: center;
}

/* Styles des sections du main*/
#chapitre {
  position: relative;
  margin: 0;
}

section{
width: 100vw;
height: 100vh;
}

/* Styles chapitre 1*/
section:first-of-type{
  background-image: url("../assets/img/img_background/dion_proulx_scene_01_582-424.jpg");
  background-size: 100vw 100vh;
}


/* Styles chapitre 2*/
section:nth-child(2){
  background-image: url("../assets/img/img_background/dion_proulx_scene_02_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles chapitre 3*/
section:nth-child(3){
  background-image: url("../assets/img/img_background/dion_proulx_scene_03_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


/* Styles chapitre 4*/
section:nth-child(4){
  background-image: url("../assets/img/img_background/dion_proulx_scene_04_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles chapitre 5*/
section:nth-child(5){
  background-image: url("../assets/img/img_background/dion_proulx_scene_05_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles chapitre 6*/
section:nth-child(6){
  background-image: url("../assets/img/img_background/dion_proulx_scene_06_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}



.chapterText {
  font-family: ScaryFont;
  color: white;
  font-size: 2vw;
  text-shadow: 3px 2px 2px black;
  position: absolute;
  z-index: 1;
  left: 10vw;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}


/* Boutons*/

.toggle-fullscreen-btn {
  position: fixed;
  bottom: 10px;
  left: 0;
  background: none;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 15px;
}

input[type="checkbox"]::after {
  content: "Fullscreen";
  margin-left: 15px;
  font-family: HelpMe;
  color: red;
}

.monster {
 background-image: url("../assets/img/img_personnages/Monstre/Monstrespritesheet.png");
 background-size: cover;
 background-position: 0 0;
 background-repeat: no-repeat;
 height: 1080px;
 width: 1170px;
 aspect-ratio: 16/8;
 animation-name: test;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-timing-function: steps(48);
 animation-play-state: paused;
 z-index: 1;
}

#SpriteSheet{
  border: solid red 3px;
}

.is-scrolling .SpriteSheet {
  animation-play-state: running;
}

@keyframes test {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -56160px 0;
  }
}

img{
  border-color:  red 4px;
}