:root {
  --blood: rgb(138, 5, 5);
}

@font-face {
  font-family: HelpMe;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

@font-face {
  font-family: ScaryFont;
  src: url("../assets/police/HelpMe.ttf") format(TrueType);
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Styles du Header*/
h1 {
  font-family: HelpMe;
  text-align: center;
  color: var(--blood);
  text-shadow: 3px 2px 2px black;
  font-size: 6vw;
}

h2 {
  font-family: ScaryFont;
  color: var(--blood);
}

.glow {
  text-shadow: 0 0 5px red;
  position: absolute;
  bottom: 8em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-position: center;
  background-image: url("../assets/img/img_background/intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.mouse {
  position: absolute;
  bottom: 10em;
}

.scrollmouse {
  position: absolute;
  bottom: 3em;
}

.paragraph {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.cta {
  margin-top: 25em;
  display: flex;
  justify-content: center;
}

/* Styles des sections du main*/
#chapitre {
  position: relative;
  margin: 0;
}

section {
  width: 100vw;
  height: 100vh;
}

/* Styles chapitre 1*/
section:first-of-type {
  background-image: url("../assets/img/img_background/dion_proulx_scene_01_582-424.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* Styles chapitre 2*/
section:nth-child(2) {
  background-image: url("../assets/img/img_background/dion_proulx_scene_02_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* Styles chapitre 3*/
section:nth-child(3) {
  background-image: url("../assets/img/img_background/dion_proulx_scene_03_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

/* Styles chapitre 4*/
section:nth-child(4) {
  background-image: url("../assets/img/img_background/dion_proulx_scene_04_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles chapitre 5*/
section:nth-child(5) {
  background-image: url("../assets/img/img_background/dion_proulx_scene_05_582-424.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styles chapitre 6*/
section:nth-child(6) {
  background-image: url("../assets/img/img_background/dion_proulx_scene_06_582-424.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

ul.technique-gsap {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 10px;
  font-family: monospace;
  font-weight: 400;
  width: auto;
  display: inline-block;
  padding: 10px 20px 12px 20px;
  margin: 0;
  max-width: 300px;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
}

ul.technique-gsap li {
  margin: 5px 0;
}

.chapterText {
  font-family: ScaryFont;
  color: white;
  font-size: 2vw;
  text-shadow: 3px 2px 2px black;
  position: absolute;
  z-index: 1;
  left: 10vw;
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Boutons*/

.toggle-fullscreen-btn {
  position: fixed;
  bottom: 10px;
  left: 0;
  background: none;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-left: 15px;
}

input[type="checkbox"]::after {
  content: "Fullscreen";
  margin-left: 15px;
  font-family: HelpMe;
  color: red;
}

.doorshadow {
  opacity: 75%;
  border: solid red;
  position: absolute;
  right: 0;
  width: 85vw;
}

/* Animations Monstre*/
#monstre {
  background-image: url("../assets/img/img_personnages/Monstre/Monstrespritesheet.png");
  background-size: 4800% 100%;
  z-index: 1;
  width: 30vw;
  aspect-ratio: 13 / 12;
  position: absolute;
  right: 10vw;
  bottom: 50px;
  animation-name: moving;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
  animation-play-state: paused;
}

.is-scrolling #monstre {
  animation-play-state: running;
}

@keyframes moving {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -4800% 0;
  }
}

/* Animations Marie*/

#Marie {
  background-image: url("../assets/img/img_personnages/Mariespritesheet.png");
  background-size: 2700% 100%;
  position: absolute;
  bottom: 0;
  left: 45vw;
  width: 21.5vw;
  z-index: 1;
  aspect-ratio: 13 / 12;
  filter: grayscale(100%);
  animation-name: MarieWalking;
  animation-duration: 1.5s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(27);
}

@keyframes MarieWalking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -2700% 0;
  }
}

.is-scrolling #Marie {
  animation-play-state: running;
}
/* Animations Julia*/
#Julia {
  background-image: url("../assets/img/img_personnages/Juliaspritesheet.png");
  background-size: 4800% 100%;
  position: absolute;
  bottom: 0;
  left: 40vw;
  width: 21.5vw;
  z-index: 1;
  aspect-ratio: 13 / 12;
  filter: grayscale(100%);
  animation-name: JuliaWalking;
  animation-duration: 1s;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-timing-function: steps(48);
}

@keyframes JuliaWalking {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4800% 0;
  }
}

.is-scrolling #Julia {
  animation-play-state: running;
}

.eyes {
  object-fit: cover;
  object-position: 0 0;
  width: 20vw;
  aspect-ratio: 13 / 8;
  position: absolute;
  top: 20vh;
  left: 20vh;
}

.leaf {
  position: absolute;
  top: 50%;
  z-index: 1;
}

#house {
  background-image: url("../assets/img/img_element_visuels/Haunted_house_spritesheet.png");
  background-size: 700% 100%;
  width: 35%;
  aspect-ratio: 22 / 12;
  position: absolute;
  left: 30vw;
  top: 10vw;
  filter: grayscale(75%);
  animation-name: flashing;
  animation-duration: 0.8s;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-timing-function: steps(7);
}

@keyframes flashing {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -700% 0;
  }
}

.SpriteSheet {
  border: solid red 3px;
}

img {
  border-color: red 4px;
}
